.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cardHeading {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.cardSubHeading {
    font-weight: bold;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.formBtn {
    max-width: 20%;
}

.radio {
    margin-left: 15px;
}